%p
  This time slot is available,
  = link_to "get in touch today!", "mailto:christiannaths@gmail.com?subject=#{ URI.escape('DMIT Industry Series')}&body=#{ talk_proposal_email_body(talk) }"

%p
  Are you an industry professional with some advice to newcomers, an opinion about programming best practices, interesting stories based on your experience, or any other ideas that might be relevant to web design and development students? Find out how to contribute,
