%h4
  Posted November, 2012 by
  =link_to "Christian", "mailto:cnaths@nait.ca"

%h2 The Capstone Project Course

%p Every year the Digital Media &amp; IT program at NAIT will graduate between 30 and 50 web design &amp; development students. As part of their education, each student will participate in a course called Capstone Project, in which they are given the opportunity to work on projects to strengthen their portfolio and otherwise gain experience working in scenarios which are closer to those found in industry.

%p As instructors, we work with our students throughout this course in a supporting role, providing mentorship and leadership as they work on their projects.

%p Total Hours: 180 | Timeline: January to April, 15 weeks


%h2 What Technical Skills Do Capstone Students Posess?

%p The skillsets of web Capstone students vary in breadth and depth, so it's difficult to capture all of our students in a single profile. Generally speaking, though, our students will have a solid foundation in HTML5 semantic markup, CSS, JavaScript and jQuery, and Basic SEO concepts. In addition, students may have experience with CSS grid systems, Converting PSDs to HTML/CSS templates, CSS frameworks (Twitter Bootstrap), CMS in WordPress and/or Joomla!, Creating dynamic websites with PHP and MySQL, or Consuming web services via AJAX.

%h2 What Makes  A Good Capstone Project?

%p Due to the reletively short timelines and heavy workloads, and based on the student's career goals, most web design &amp; development students are advised to take on several smaller-scale projects as individuals or as a part of small teams.

%p For the most part, we want our students to graduate with portfolios which showcase several strong pieces. Part of our process is to help students align their portfolios with their career goals, which, to different students, can mean taking on different types of projects.

%p Students are also given the opportunity to conceive their own community/startup/web application style project. This is something we encourage as successful projects in this vein can effectively demonstrate not only technical skills, but user experience design and business skills as well. Students who choose to engage in these types of projects are asked to find someone in a field related to their target audience to help mentor them through the process.

%h2 What Can You Do to Help?

%p Do you have a project in mind with an appropriate scope which might align with the skillset of a web Capstone student? Are you a local small business, no-for-profit, or startup with a specific need which our students might be able to fulfill? Are you a web shop interested in mentoring a student through your build process, providing insight to your best practices along the way?

%p If this sounds like you, please fill our project proposal form and we will do our best to find a student who can help you on your project.

%p Since we are rewarding students with marks and credit for the course, most will not charge for their work. That being the case, we filter out potential projects that do not align with the goals of the students.



= link_to "Submit A Project Proposal", new_proposal_path, class: 'button new_proposal'
