%h2 Proposal Received!

%p Thank you for your submission, we have been notified and will review your project proposal and will try to match you with students whose career goals and skillsets align with your project.

%p Due to high levels of interest, we cannot garantee we will be able to find students to fulfill your project needs. We try to finalize project selection by the 3rd week of January, however as the semester progresses there may be students seeking projects past this deadline.

%p
  If you have questions or for more information, please contact me at
  = link_to "cnaths@nait.ca", "mailto:cnaths@nait.ca"

%section.signature
  %p Thank you for your interest,

  %p
    Christian Naths
    %br
    Instructor - Digital Media and IT
    %br
    School of Information Communication and Engineering Technologies
    %br
    NAIT - An Institute of Technology Committed to Student Success
